<template name="about">
  <div class="jumbotron">
    <h1>About ChucK Demos</h1>
    <p>The main purpose of the ChucK Demos site is to provide a repository of
      <a href="http://chuck.cs.princeton.edu/" target="_blank">ChucK</a> demo programs that can also be heard right
      inside the browser. Its secondary purpose is to showcase the
      <a href="https://github.com/aknuds1/chuckjs" target="_blank">ChucKJS</a> JavaScript library, which
      is made by the site's author.</p>
  </div>
</template>