<template name="layout">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">ChucK Demos</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {{#each navItems}}
          <li {{attrs}}>
            {{#unless isDropdown}}
            <a href="{{url}}">{{text}}</a>
            {{else}}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{text}}</a>
            <ul class="dropdown-menu" role="menu">
              {{#each dropdownItems}}
              <li {{attrs}} role="presentation">
                <a role="menuitem" tabindex="-1" href="{{url}}">
                  {{text}}
                  {{#if hasSound}}{{> soundIcon}}{{/if}}
                </a>
              </li>
              {{/each}}
            </ul>
            {{/unless}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="container" role="main">
    {{> yield}}
  </div>
  <div id="footer">
    <hr class="no-top-margin">
    <div class="footer-content"><a href="https://github.com/spencersalazar/chuck/tree/master/src/examples">Official</a
        >&nbsp;demos ported: {{officialDemosPorted}}/{{officialDemosRemaining}}</div>
    <div id="social" class="footer-content">
      {{#each socialLinks}}
      <a href="{{url}}" target="_blank"><i class="fa fa-{{icon}}"></i></a>
      {{/each}}
    </div>
    <div class="footer-content">
      Want to help?&nbsp;<a href="https://github.com/aknuds1/chuckjs" target="_blank">ChucKJS</a>&nbsp;needs contributors
    </div>
    <div id="copyright" class="footer-content">
      <span class="text-muted">© 2014 Arve Knudsen</span>&nbsp;
      <a href="https://www.gittip.com/Arve%20Knudsen/" target="_blank">
        <img src="http://img.shields.io/gittip/Arve%20Knudsen.png">
      </a>
    </div>
  </div>
</template>
